<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= plant.name %></title>
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/reset.css" />
  </head>
  <body>
    <div class="container">
      <h1><%= plant.name %></h1>
      <img
        src="/img/<%= plant.image %>"
        alt="<%= plant.name %>"
      />
      <div class="description">
        <% plant.characteristics && plant.characteristics != '' ? %>
          <p><strong>Características:</strong> <%= plant.characteristics %></p>
        <% } %>
        <% plant.benefits && plant.benefits != '' ? %>
          <p><strong>Benefícios:</strong> <%= plant.benefits %></p>
        <% } %>
        <% plant.uses && plant.uses != '' ? %>
          <p><strong>Usos:</strong> <%= plant.uses %></p>
        <% } %>
        <% plant.watering && plant.watering != '' ? %>
          <p><strong>Rega:</strong> <%= plant.watering %></p>
        <% } %>
        <% plant.sunlight && plant.sunlight != '' ? %>
          <p><strong>Exposição ao Sol:</strong> <%= plant.sunlight %></p>
        <% } %>
      </div>
      <a href="/">Voltar</a>
    </div>
  </body>
</html>
